{% extends 'base.html.twig' %}

{% block pageHeader %}
    {{ knp_menu_render('AppBundle:Builder:pickerLogMenu', {'currentClass': 'active', 'template': 'AppBundle:Menu:knp_menu.html.twig'}) }}    
{% endblock %}

{% block body %}

    <br>

    <form class="form-inline" action="{{ path('picker_log_search') }}">
        <div class="form-group">
            <input class="form-control" type="text" name="searchTerms" placeholder="Search...">
        </div>
        <button class="btn btn-default" type="submit">Search</button>
    </form>

    <br>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Order Number</th>
                <th>User</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for scan in scans %}
                <tr>
                    <td>{{ scan.orderNumber }}</td>
                    <td>{{ scan.user }}</td>
                    <td>{{ scan.timestamp|date('D, d M Y h:i:s a') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
