{% extends 'base.html.twig' %}

{% block pageHeader %}
    {{ knp_menu_render('AppBundle:Builder:productMenu') }}    
{% endblock %}

{% block body %}

    <h1>Search Results</h1>

    <form action="{{ path('product_lookup_search') }}" method="get">
        <input type="text" name="searchTerms">
        <button type="submit">Search</button>
    </form>

    <br>

    {% for item in items %}

        <div>
            {% for image in item.detail.images %}
                <img src="{{ image }}">
            {% endfor %}<br>
            <b>{{ item.itemNumber }}</b><br>
            {{ item.name }}<br>
            <blockquote>{{ item.detail.description }}</blockquote><br>
            <b>Bin:</b> {{ item.binLocation }}<br>
            <b>In Stock:</b> {{ item.stockQuantity }}<br>
            <b>Committed:</b> {{ item.committedQuantity }}
        </div>

        <hr>

    {% endfor %}

    <p><a href="{{ path('product_lookup_index') }}">Back</a></p>

{% endblock %}
